@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

.marca{
  font-size: 50px;
  color: black;
  font-family: "Koh Santepheap";
  font-weight: 700;
}
.marca:hover{
  color: rgba(137, 43, 226, 0.61);
  cursor:pointer;
}
.navbar{
  background-color: rgb(206, 178, 178);
}
.nav-item{
  margin: 0px 15px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.nav-link{
  color: #444;
  cursor:pointer;
}
.cart{
  height: 40px;
  cursor: pointer;
}
.cart:hover{
  color: rgba(137, 43, 226, 0.61);
}
.cart-number{
  margin-left: 10px;
  cursor: pointer;
}
.productos{
  margin-top: 100px;
}
.titulo__reloj{
  margin-top: 20px;
}
.cardd{
  width: 350px;
height: auto;
}
.cardd:hover{
  box-shadow: 5px 5px 10px rgba(255, 239, 19, 0.151);
}
.cantidad__reloj{
  font-size: 20px;
}
.boton__sumarestar{
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
  color: black;
}
.boton__sumarestar:hover{
  color:red
}
.boton__comprar{
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
}
.boton__carro{
  margin-top: 20px;
}
.botones{
  background-color: rgba(131, 131, 131, 0.137);
  border-radius: 10px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-1 {
  width: 200px;
  background: rgb(158, 98, 75);
  background: linear-gradient(0deg, rgb(226, 154, 59) 0%, rgb(156, 95, 53) 100%);
  border: none;
}
.btn-1:hover {
   background: rgb(87, 87, 87);
background: linear-gradient(0deg, rgb(178, 246, 89) 0%, rgb(59, 204, 40) 100%);
}

/* MODAL----------------------------------- */
.modal{
  margin-top: 200px;
}
.modal__tamano{
  width: 1000px;
}
.titulo__modal{
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.parrafo__modal{
  margin-bottom: 50px;
}
.precio__modal h4{
    font-family: monospace;
    font-weight: 600;
    font-size: 30px;
}
.precio__modal{
  margin-bottom: 70px;
}