.marca{
  width: 100%;
        text-align: center;
        font-size: 60px;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: 700;
        letter-spacing: -4px;
        background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.marca:hover{
  color: rgba(137, 43, 226, 0.61);
  cursor:pointer;
}
.navbar{
  background-color: #323333;
}
.nav-item{
  margin: 0px 15px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.nav-link{
  text-decoration: none;
            padding: 15px 20px;
            font-family: 'Montserrat', sans-serif;
            color:whitesmoke;
            font-weight: 400;
            font-size: 22px;
            letter-spacing: 4px;
            cursor: pointer;
}
.cart{
  height: 40px;
  cursor: pointer;
  color: white;
}
.cart:hover{
  color: rgba(137, 43, 226, 0.61);
}
.cart-number{
  margin-left: 10px;
  cursor: pointer;
}
.productos{
  margin-top: 100px;
}
.titulo__reloj{
  margin-top: 20px;
}
.cardd{
  width: 350px;
height: auto;
}
.cardd:hover{
  box-shadow: 5px 5px 10px rgba(255, 239, 19, 0.151);
}
.cantidad__reloj{
  font-size: 20px;
}
.boton__sumarestar{
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
  color: black;
}
.boton__sumarestar:hover{
  color:red
}
.boton__comprar{
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
}
.boton__carro{
  margin-top: 10px;
}
.botones{
  background-color: rgba(211, 209, 209, 0.034);
  border-radius: 10px;
  padding-bottom: 10px;
}
.link{
  text-decoration: none;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-1 {
  width: 200px;
  background: rgb(158, 98, 75);
  background: linear-gradient(0deg, rgb(226, 154, 59) 0%, rgb(156, 95, 53) 100%);
  border: none;
}
.btn-1:hover {
   background: rgb(87, 87, 87);
background: linear-gradient(0deg, rgb(178, 246, 89) 0%, rgb(59, 204, 40) 100%);
}

/* detail producto */
.producto__detail{
  height: 500px;
  margin-top: 100px;
}

.producto__detail .descripcion{
  margin-top: 30px;
  margin-bottom: 20px;
}
.producto__detail .precio{
  margin-bottom: 50px;
}
.producto__detail .stock{
  margin-top: 20px;
}

.boton__volver button {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: rgb(187, 167, 167);
 }

 .boton__volver button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }

 .boton__volver button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
 }
 
 .boton__volver button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
 }