.marca{
  width: 100%;
        text-align: center;
        font-size: 60px;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: 700;
        letter-spacing: -4px;
        background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.marca:hover{
  color: rgba(137, 43, 226, 0.61);
  cursor:pointer;
}
.navbar{
  background-color: #323333;
}
.nav-item{
  margin: 0px 15px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.nav-link{
  text-decoration: none;
            padding: 15px 20px;
            font-family: 'Montserrat', sans-serif;
            color:whitesmoke;
            font-weight: 400;
            font-size: 22px;
            letter-spacing: 4px;
            cursor: pointer;
}
.cart{
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
}
.cart:hover{
  color: rgba(66, 105, 211, 0.89);
}
.cart-number{
  margin-left: 10px;
  cursor: pointer;
  color: white;
}
.productos{
  margin-top: 100px;
}
.titulo__reloj{
  margin-top: 20px;
}
.cardd{
  width: 350px;
height: auto;
}
.cardd:hover{
  box-shadow: 5px 5px 10px rgba(255, 239, 19, 0.151);
}
.cantidad__reloj{
  font-size: 20px;
}
.boton__sumarestar{
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
  color: black;
}
.boton__sumarestar:hover{
  color:rgb(76, 117, 204)
}
.boton__comprar{
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
}
.boton__carro{
  margin-top: 10px;
}
.link{
  text-decoration: none;
}

/* ver mas */
.btn__ver button {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.3em 1.5em;
  border: 3px solid #FF0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #FF0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
 }
 .btn__ver button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -1;
 }
 .btn__ver button:hover, button:focus {
  color: white;
 }

 .btn__ver button:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
 }

 .btn__ver button:active {
  transform: scale(0.9);
 }

 /* btn agregar */
 .boton__carro button {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 3px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #2ecc71;
  border: none;
  border-bottom: 5px solid #27ae60;
  text-shadow: 0px -2px #27ae60;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
 }
 .boton__carro button:hover, button:active {
  -webkit-transform: translate(0px,5px);
  -ms-transform: translate(0px,5px);
  transform: translate(0px,5px);
  border-bottom: 1px solid #2ecc71;
 }



/* detail producto */
.producto__detail{
  height: 500px;
  margin-top: 100px;
}

.producto__detail .descripcion{
  margin-top: 30px;
  margin-bottom: 20px;
}
.producto__detail .precio{
  margin-bottom: 50px;
}
.producto__detail .stock{
  margin-top: 20px;
}

.boton__volver button {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: rgb(187, 167, 167);
 }

 .boton__volver button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }

 .boton__volver button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
 }
 
 .boton__volver button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
 }

 .spinner{
   height: 100px;
   width: 100px;
   position: absolute;
   top: 50%;
   left:46%;
 }

 .borrar__producto{
   font-size: 40px;
   border: none;
   background-color: transparent;
 }
 .precio__porunidades{
   text-align: center;
 }


 .carro__vacio{
   margin-top: 50px;
   height: 500px;
   background-color: #cecece;
   border-radius: 15px;
 }
 .btn-volver2{
   margin-top: 100px;
 }
 .carro__vacio__texto{
   padding-top: 200px;
   color: #4d4d4d;
   font-size: 40px;
 }
 .btn-volver2 button{
   width: 200px;
 }
 

